{% extends 'base.html' %}
{% load static %}




{% block cta %}
<div class="container hero">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                <h1>Exceptional Medical Care for All Ages.</h1>
                <p> At our Medical Center
                    we combine world class medicine
                    with compassionate care. </p>
                    <a href="{% url 'appointment' %}" class="btn btn-light btn-lg action-button" type="button">Book an appointment</a>
            </div>

        </div>
    </div>

{% endblock cta %}



{% block content %}
<section class="container py-5"  style="margin-block:200px;" id="team">
    <div class="row text-center ">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">Our Team</h1>
            <p class="lead">Rely on established and competent professionals.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row text-center">

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/doc1.jpg' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr Ian</h5>
                    <span class="small text-uppercase text-muted">Consultant anesthesiologist</span>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/doc6.jpg' %}" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr Sia </h5>
                    <span class="small text-uppercase text-muted">Consultant cardiothoracic</span>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/doc5.jpg' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr Anthony</h5>
                    <span class="small text-uppercase text-muted">Consultant dermatologist</span>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/doc4.jpg' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr Roney</h5>
                    <span class="small text-uppercase text-muted">Consultant Obstetrician</span>
                </div>
            </div><!-- End -->
        </div>
    </div>
</section><!-- End -->



<section id="services">
  <div class="text-center py-5 mb-4" style=" background: rgb(255, 166, 77)">
      <div class="container">
        <h1 class="fw-light text-white">Services</h1>
        <p class="overview">We provide compassionate and expert care to our community. You are at the center of everything we do. Let us be your healthcare partner.</p>
      </div>
    </div>
  <div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/service1.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Primary Care</h5>
            <div class="card-text text-black-50">Your personalized medical professionals contact for continuing care of varied medical conditions,organ system,or diagnosis</div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/service2.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Laboratory Testing</h5>
            <div class="card-text text-black-50">Complete Blood Count,  Prothrombin Time, Basic Metabolic Panel, Liver Panel,Thyroid Stimulating , Cultures, Urinalysis etc</div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/diagnostic-techniques.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Scanning & X-ray imaging</h5>
            <div class="card-text text-black-50">Procurement,Dispensing, Distribution ,and the monitoring of patient Drug Therapy.</div>
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/nursi.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Nursing care</h5>
            <div class="card-text text-black-50">Wound Dressing,Ostomy Care,Intravenous Therapy,Administering Medication,and other health support</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  
  </div>
</section>
<section id="contact" class="card m-4 p-4">
    <div class="container">
        <div class="row text-center">
          
            <div class="col-sm-6">
            <div class="contact-detail-box">
              <i class="far fa-envelope text-colored fa-3x"></i>
              <h4>Get In Touch</h4>
              <abbr title="Phone">P:</abbr> (123) 456-7890<br>
              E: <a href="mailto:email@email.com" class="text-muted">email@email.com</a>
            </div>
          </div><!-- end col -->
  
          <div class="col-sm-6">
            <div class="contact-detail-box">
              <i class="fa fa-map-marker fa-3x text-colored"></i>
              <h4>Our Location</h4>
  
              <address>
              795 Folsom Ave, Suite 600<br>
              San Francisco, CA 94107<br>
            </address>
            </div>
          </div><!-- end col -->
  
  
  
        </div>
        <!-- end row -->
  
  
        <div class="row">
          <div class="col-sm-6">
            <div class="contact-map">
              <iframe src="https://www.google.com/maps/embed/v1/place?q=New+York+University&amp;key=AIzaSyBSFRN6WWGYwmFi498qXXsD2UwkbmD74v4" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="width: 100%; height: 360px;"></iframe>
            </div>
          </div><!-- end col -->
  
          <!-- Contact form -->
          <div class="col-sm-6">
            <form role="form" name="ajax-form" id="ajax-form" method="post" class="form-main" action="{% url 'home' %}">
            {% csrf_token %}
              <div class="form-group">
                <label for="name2">Name</label>
                <input class="form-control" id="name2" name="name" type="text" placeholder="name">
                <div class="error" id="err-name" style="display: none;">Please enter name</div>
              </div> <!-- /Form-name -->
  
              <div class="form-group">
                <label for="email2">Email</label>
                <input class="form-control" id="email2" name="email" type="text" placeholder="email">
                <div class="error" id="err-emailvld" style="display: none;">E-mail is not a valid format</div> 
              </div> <!-- /Form-email -->
  
              <div class="form-group">
                <label for="message2">Message</label>
                <textarea class="form-control" id="message2" name="message" rows="5" placeholder="message">Message</textarea>
  
                <div class="error" id="err-message" style="display: none;">Please enter message</div>
              </div> <!-- /col -->
  
              <div class="row">            
                  <button type="submit" class="btn btn-primary btn-shadow btn-rounded w-md" id="send">Send</button>
                </div> <!-- /col -->
              </div> <!-- /row -->
  
            </form> <!-- /form -->
          </div> <!-- end col -->
  
        </div> <!-- end row -->
            
      </div>
</section>




{% endblock content %}